@import url("variables.css");

body {
  font-family: var(--font-family);
  color: var(--color);
  line-height: 2;
  background-image: var(--background);
  background-size: cover;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: var(--text-color);
}
h1 {
	font-size: 1.8em;
	line-height: 1.7em;
}
h2 {
	font-size: 1.6em;
	line-height: 1.5em;
}
h3 {
	font-size: 1.2em;
	line-height: 1.5em;
}
h4 {
	font-size: 1em;
	line-height: 1.5em;
}
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}
a, a:hover {
  text-decoration: none !important;
}
.text-black {
  color: #000;
}
.content {
  padding: 20px 0;
}
.container {
  position: relative;
}
.content p {
  margin: 10px 0;
}
.full-height {
  min-height: 100vh;
}
.full-width {
  min-width: 100%;
}
.form-control {
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 0.25rem;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.4375rem 1rem;
}
.form-control:active, 
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: var(--text-color);
}
.form-control.error {
  border-color: var(--danger);
}
.col-form-label {
  color: var(--text-color);
}
.heading {
  color: #888;
  letter-spacing: .05rem;
  text-transform: uppercase;
  font-weight: 400;
}
.btn {
  color: #fff;
  border: none;
  height: 55px;
  border-radius: 4px !important;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
}
.btn:hover {
  color: #fff;
}
.btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-icon {
  margin-right: 5px;
}
.box {
  padding: 40px 32px;
  background: #fff;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  overflow-y: auto;
  margin: 20px 0;
  max-height: calc(100vh - 120px);
  color: var(--text-color);
}
@media (min-width: 992px) {
  .box {
    padding: 40px 70px;
    max-height: calc(100vh - 40px);
  }
}
.box h3 {
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
}
.box.fit {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
}
label.error {
  font-size: 12px;
  color: var(--danger);
}
label .desc {
  font-size: 12px;
  color: #888;
  display: block;
}
.page-logo {
  width: 200px;
  height: auto;
  margin: 10px auto;
}
@media (min-width: 992px) {
  .page-logo {
    margin: 0 auto 10px;
  }
}
.force-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.force-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.force-center-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0)
}
.submit {
  margin-top: 40px !important;
}
.modal .modal-content {
  border: none;
}
.modal .modal-body {
  padding-bottom: 0;
  color: var(--text-color);
}
.modal .modal-content .title-icon {
  display: block;
  margin: 20px auto;
  font-size: 36px;
}
.modal .modal-content .title-icon.success {
  color: var(--success);
}
.modal .modal-content .title-icon.danger {
  color: var(--danger);
}
.modal .modal-content p {
  margin-top: 10px;
}
.modal .modal-footer {
  padding-top: 0;
  border-top: none;
}
.modal.modal-loading .modal-content {
  background: rgba(255, 255, 255, 0.75);
}
.modal.modal-loading .modal-title .spinner-border {
  color: var(--primary) !important;
  width: 20px;
  height: 20px;
  border-width: 3px;
  margin-right: 5px;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 20px;
  text-align: center;
}
.footer-logo {
  width: 100px;
  height: auto;
  margin: 10px auto;
}
.page-icon {
  margin-right: 10px;
}
.connect-message {
  font-size: 24px;
}
.small {
	font-size: 16px;
	margin: 0;
	max-width: calc(100vw - 40px);
}
.no-overflow {
	overflow: hidden;
}
.link {
	color: var(--primary);
}