:root {
  --color: #ffffff;
  --text-color: #557896;
  --primary: #66a6ff;
  --success: #55A44E;
  --danger: #B90B0B;
  --background: linear-gradient(120deg, #66a6ff 0%, #89f7fe 100%);
  --font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}